.gallery {
  width: 280px;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 648px;
    padding: 60px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    padding: 120px;
    margin: 0 auto;
  }
}
