
.gallery-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 43px;
}
.gallery-list__item{
  margin-bottom: 39px;
}
.gallery-list__item:nth-last-child(3) {
  margin-bottom: 32px;
}
.name-of-the-picture {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.author {
  position: relative;
  padding-left: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
.author::before{
  content: "";
  position: absolute;
  left:2px;
  width: 23px;
  height: 21px;
}
.video-review {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.video-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.video-review,
.video-text {
  text-align: center;
}
