.main-nav__wrapper {
  color: @white;
  background-color: @lightblue;
}

.main-nav__toggle {
  align-content: center;
  position: relative;
  display: none;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: @white;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
