.page-header {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: grid;
}

.logo {
  display: block;
  margin: auto;
}

.page-main {
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

.main-nav__wrapper {
  color: @white;
  background-color: @lightblue;
}

.site-list {
  padding: 0;
  margin: 0;

  a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: @white;
  }
}

.site-list__item {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 320px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
}

.main-nav__toggle {
  align-content: center;
  position: relative;
  display: none;
}
