.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: @white;
  color: @black;
}

.page__form {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 648px;
    margin: 0 auto;
    padding: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    margin: 0 auto;
    padding: 120px;
  }
}

.page__container {
  width: 294px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 648px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    margin: 0 auto;
  }
}
