.page-header {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: @white;
  color: @black;
  @media (min-width: @desktop-width) {
    height: 96px;
  }
}

.page-header__logo {
  height: 84px;
}
