.reasons {
  text-align: center;
  font-weight: normal;
}

.reasons-list {
  margin: 0;
  padding: 0;
}

.reasons-list__item {
  list-style: none;
  color: @white;
  background-color: @blue;
  text-align: center;
  margin: 0;
  padding: 0;
}

.reasons-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.reasons-number {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.reasons-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.about-city {
  color: @black;
  background-color: @white;
  text-align: start;
  padding: 0;
}

.about-city__item {
  list-style: none;
}

.product-title {
  position: relative;
  padding-left: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.product-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
