.reasons-list {
  margin: 0;
  padding: 0;
}

.reasons-list__item {
  list-style: none;
  color: @white;
  background-color: @lightblue;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 256px;
    height: 256px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.reasons-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.reasons-list__number,
.reasons-list__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
