.social-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.social-list__item {
  display: grid;
  justify-content: space-between;

  img {
    width: 46px;
    height: 48px;
    color: @white;
    background-color: @lightblue;
  }
}
